Package: ohie-datim-node
Version: 0.1.0ubuntu2
Architecture: amd64
Maintainer: keybase.io/ryanyates <ryanyates@keybase.io>
Installed-Size: 4
Pre-Depends: jq
Depends: openinfoman, openinfoman-datim, openhim-core-js, openhim-console, dhis2
Section: misc
Priority: optional
Description: Meta package for OpenHIE DATIM Node
