Source: ohie-datim-node
Section: misc
Priority: optional
Maintainer: keybase.io/ryanyates <ryanyates@keybase.io>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.2

Package: ohie-datim-node
Architecture: amd64
Pre-Depends: jq, openhim-core-js
Depends: openinfoman, openinfoman-datim, openinfoman-dhis, openhim-console, dhis2, dhis2-datim, adxadapter, mechanismimporter, dhis2-datim, csd-loader, openhim-config-datim-node, nginx-datim, datim-mapping
Description: Meta package for OpenHIE DATIM Node
